body{
	font-size: 16px;
}

.container-app{
	width: 720px;
	margin: 0 auto;
	background-image: url(../img/bg-app.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.container-app-without-img{	
	width: 720px;
	margin: 0 auto;
	background-color: #fafafa;
}

/*Clases Predefinidas*/
	/*Botones*/
	.btn-scan{
		background-image: url(../img/img-qr.png);
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		display: block;
		text-align: center;
		width: 250px;
		height: 250px;
		padding: 13% 0;
		font-size: 1.5em;
		font-weight: 300;
		margin:20% auto;
	}
	.appUp-btn{
		background-color: #ffd600;
		padding: 3%;
		margin: 3% auto;
		width: 60%;
		text-align: center;
		/*display: inline-block;*/
		display: block;
		-webkit-border-radius: 80px;
		-moz-border-radius: 80px;
		border-radius: 80px;
		color: #a08600;
		text-transform: uppercase;
		font-weight: light;
		font-size: 25px;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
		.appUp-btn:hover{
			background-color: #a08600;
			color: #ffd600;
		}
	/*Tables*/

	table{}
	table thead {
		background-color: #68abe3;
		border-bottom: 3px solid #1570bc;
	}
	table thead tr{}
	table thead tr th{
		font-size: 1.3em;
		color: #ffffff;
		font-weight: 400
	}
	table tbody {}
	table tbody tr{}
	table tbody tr td{}

	/*Colores*/
	.color-block{
		width: 40px;
		height: 40px;
		display: inline-block;
		vertical-align: top;
	}
	.color-block.color-green{background-color: #335a16}
	.color-block.color-red{background-color: #641111}
	.color-block.color-blue{background-color: #1e49ab}
	.color-block.color-gray{background-color: #dedede}
	.color-block.color-black{background-color: #181818}

/*Header*/
#app-main-header{
	text-align: center;
	background-color: #1570bc;
}
	#app-main-header img{
		margin-top: 35px;
		width: 100%;
		height: auto;
	}

/*Title*/
#app-main-title{
	background-color: #1570bc;
	text-align: center;
	-webkit-box-shadow: 0px 25px 15px -10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 25px 15px -10px rgba(0,0,0,0.25);
	box-shadow: 0px 25px 15px -10px rgba(0,0,0,0.25);
}
	#app-main-title h2{
		color: #ffffff;
		font-size: 2.4em;
		font-weight: lighter;
	}

	#app-main-title .precio,
	#app-main-title .cantidad{
		display: block;
		text-align: left;
	}
	#app-main-title .precio{
		font-size: 1.9em;
		color: #ffffff;
	}
	#app-main-title .cantidad{
		font-size: 1.4em;
		color: #ffd600;
		font-weight: lighter;
	}
	#app-main-title .row{
		margin-bottom: 0px;
	}
	.btn:not(.waves-light),
	.btn-large:not(.waves-light){
		background-color: #fff;
	    color: #212121;
	}
	table .btn{
		padding: 0;
	}

/*Content*/
#app-main-content{
	max-height: 730px;
	padding: 10px;
}

.campo-data{}
.campo-data h3{
	color: #1570bc;
	font-size: 1em;
	padding-bottom: 1%;
	margin-bottom: 1%;
	border-bottom: 1px solid #e8f2fa;
}

.list-productos{
	border-bottom: 3px solid #1570bc;
}
.list-productos .producto img{
	border-bottom: 2px solid #ffd600;
}
.list-productos .ranking img{}
.list-productos .title-product{
	margin-bottom: 1em;
}
.list-productos .title-product h4{
	font-size: 2em;
	color: #1570bc;
	font-weight: 300;
}
.list-productos .precio{
	font-size: 3em;
	color: #1570bc;
}
.list-productos .precio .precio-prefix{
	font-size: 0.7em;
}
	
/*Footer*/
#app-main-footer{
	background-color: #1570bc;
	text-align: center;
	-webkit-box-shadow: 0px -25px 15px -10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px -25px 15px -10px rgba(0,0,0,0.25);
	box-shadow: 0px -25px 15px -10px rgba(0,0,0,0.25);
}


/*Configurando el Materialize para la APP*/
.input-field label{
	font-size: 1.3em!important;
	font-weight: 200;
}

.input-field label.active{
	font-size: 1.5em!important;
	color: #ffffff;
	font-weight: 200;
}
.input-field input[type=search]{
	font-size: 1.5em!important;
	padding: 2%;
}

/*Input type text*/
#app-main-title input:not([type]):focus:not([readonly]),
#app-main-title input[type=text]:focus:not([readonly]),
#app-main-title input[type=password]:focus:not([readonly]),
#app-main-title input[type=email]:focus:not([readonly]),
#app-main-title input[type=url]:focus:not([readonly]),
#app-main-title input[type=time]:focus:not([readonly]),
#app-main-title input[type=date]:focus:not([readonly]),
#app-main-title input[type=datetime-local]:focus:not([readonly]),
#app-main-title input[type=tel]:focus:not([readonly]),
#app-main-title input[type=number]:focus:not([readonly]),
#app-main-title input[type=search]:focus:not([readonly]),
#app-main-title textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #ffd600!important;
    box-shadow: 0 1px 0 0 #ffd600!important;
    font-size: 1.2em;
}
.input-field .prefix{
	color: #ffffff;
	font-size: 1.5em;
}
.input-field .prefix.active{
	color: #ffd600;
}

/*Registrarse*/
.registro form{
	margin: 3em 0;
}
.registro input:not([type]):focus:not([readonly]),
.registro input[type=text]:focus:not([readonly]),
.registro input[type=password]:focus:not([readonly]),
.registro input[type=email]:focus:not([readonly]),
.registro input[type=url]:focus:not([readonly]),
.registro input[type=time]:focus:not([readonly]),
.registro input[type=date]:focus:not([readonly]),
.registro input[type=datetime-local]:focus:not([readonly]),
.registro input[type=tel]:focus:not([readonly]),
.registro input[type=number]:focus:not([readonly]),
.registro input[type=search]:focus:not([readonly]),
.registro textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 1px 0 0 #ffffff;
}
.registro input:not([type]):focus:not([readonly])+label,
.registro input[type=text]:focus:not([readonly])+label,
.registro input[type=password]:focus:not([readonly])+label,
.registro input[type=email]:focus:not([readonly])+label,
.registro input[type=url]:focus:not([readonly])+label,
.registro input[type=time]:focus:not([readonly])+label,
.registro input[type=date]:focus:not([readonly])+label,
.registro input[type=datetime-local]:focus:not([readonly])+label,
.registro input[type=tel]:focus:not([readonly])+label,
.registro input[type=number]:focus:not([readonly])+label,
.registro input[type=search]:focus:not([readonly])+label,
.registro textarea.materialize-textarea:focus:not([readonly])+label
.registro .input-field label{
	color: #ffffff;
}
.registro input:not([type]).valid,
.registro input:not([type]):focus.valid,
.registro input[type=text].valid,
.registro input[type=text]:focus.valid,
.registro input[type=password].valid,
.registro input[type=password]:focus.valid,
.registro input[type=email].valid,
.registro input[type=email]:focus.valid,
.registro input[type=url].valid,
.registro input[type=url]:focus.valid,
.registro input[type=time].valid,
.registro input[type=time]:focus.valid,
.registro input[type=date].valid,
.registro input[type=date]:focus.valid,
.registro input[type=datetime-local].valid,
.registro input[type=datetime-local]:focus.valid,
.registro input[type=tel].valid,
.registro input[type=tel]:focus.valid,
.registro input[type=number].valid,
.registro input[type=number]:focus.valid,
.registro input[type=search].valid,
.registro input[type=search]:focus.valid,
.registro textarea.materialize-textarea.valid,
.registro textarea.materialize-textarea:focus.valid{
	border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
    font-size: 1.5em;
    color: #ffffff;
}
.registro input:not([type]),
.registro input[type=text],
.registro input[type=password],
.registro input[type=email],
.registro input[type=url],
.registro input[type=time],
.registro input[type=date],
.registro input[type=datetime-local],
.registro input[type=tel],
.registro input[type=number],
.registro input[type=search],
.registro textarea.materialize-textarea{
	font-size: 1.5em;
	font-weight: 300;
	border-bottom: 1px solid #ffd600;
}

/*Medio de pago*/
.data-compra .input-field label{
	font-size: 1.3em!important;
	font-weight: 300;
	color: #1570bc;
}

.data-compra .input-field label.active{
	font-size: 1.3em!important;
	color: #1570bc;
	font-weight: 300;
}
.data-compra form{
	margin: 3em 0;
}
.data-compra .select-wrapper{
	margin-top: 15px;
}
.data-compra input:not([type]):focus:not([readonly]),
.data-compra input[type=text]:focus:not([readonly]),
.data-compra input[type=password]:focus:not([readonly]),
.data-compra input[type=email]:focus:not([readonly]),
.data-compra input[type=url]:focus:not([readonly]),
.data-compra input[type=time]:focus:not([readonly]),
.data-compra input[type=date]:focus:not([readonly]),
.data-compra input[type=datetime-local]:focus:not([readonly]),
.data-compra input[type=tel]:focus:not([readonly]),
.data-compra input[type=number]:focus:not([readonly]),
.data-compra input[type=search]:focus:not([readonly]),
.data-compra textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #1570bc;
	box-shadow: 0 1px 0 0 #1570bc;
}
.data-compra input:not([type]):focus:not([readonly])+label,
.data-compra input[type=text]:focus:not([readonly])+label,
.data-compra input[type=password]:focus:not([readonly])+label,
.data-compra input[type=email]:focus:not([readonly])+label,
.data-compra input[type=url]:focus:not([readonly])+label,
.data-compra input[type=time]:focus:not([readonly])+label,
.data-compra input[type=date]:focus:not([readonly])+label,
.data-compra input[type=datetime-local]:focus:not([readonly])+label,
.data-compra input[type=tel]:focus:not([readonly])+label,
.data-compra input[type=number]:focus:not([readonly])+label,
.data-compra input[type=search]:focus:not([readonly])+label,
.data-compra textarea.materialize-textarea:focus:not([readonly])+label
.data-compra .input-field label{
	color: #1570bc;
}
.data-compra input:not([type]).valid,
.data-compra input:not([type]):focus.valid,
.data-compra input[type=text].valid,
.data-compra input[type=text]:focus.valid,
.data-compra input[type=password].valid,
.data-compra input[type=password]:focus.valid,
.data-compra input[type=email].valid,
.data-compra input[type=email]:focus.valid,
.data-compra input[type=url].valid,
.data-compra input[type=url]:focus.valid,
.data-compra input[type=time].valid,
.data-compra input[type=time]:focus.valid,
.data-compra input[type=date].valid,
.data-compra input[type=date]:focus.valid,
.data-compra input[type=datetime-local].valid,
.data-compra input[type=datetime-local]:focus.valid,
.data-compra input[type=tel].valid,
.data-compra input[type=tel]:focus.valid,
.data-compra input[type=number].valid,
.data-compra input[type=number]:focus.valid,
.data-compra input[type=search].valid,
.data-compra input[type=search]:focus.valid,
.data-compra textarea.materialize-textarea.valid,
.data-compra textarea.materialize-textarea:focus.valid{
	border-bottom: 1px solid #1570bc;
    box-shadow: 0 1px 0 0 #1570bc;
    font-size: 1.5em;
    color: #1570bc;
}
.data-compra input:not([type]),
.data-compra input[type=text],
.data-compra input[type=password],
.data-compra input[type=email],
.data-compra input[type=url],
.data-compra input[type=time],
.data-compra input[type=date],
.data-compra input[type=datetime-local],
.data-compra input[type=tel],
.data-compra input[type=number],
.data-compra input[type=search],
.data-compra textarea.materialize-textarea{
	font-size: 1.5em;
	font-weight: 300;
	border-bottom: 1px solid #1570bc;
}
.cuenta-nueva p{
	text-align: center;
	font-size: 1.5em;
	color: #ffffff;
	font-weight: 300;
}
.cuenta-nueva a{
	color: #ffffff;
	text-decoration: underline;
}

.compra-final{
	text-align: center;
}
.box-txt{
	margin: 5em 0;
}
.compra-final h4{
	color: #ffd600;
	font-weight: 300;
}
.compra-final h5{
	color: #ffffff;
	font-weight: 300;
}
.compra-final hr{
	background-color: #ffd600;
}
.compra-final p{
	color: #ffffff;
}